html,
body,
#app {
  height: 1500px;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}
header,
p,
ul,
li,
button,
h1 {
  padding: 0;
  margin: 0;
}
.model {
  margin: 0 auto;
  width: 1032px;
}
.mainContent {
  width: 694px;
}
li {
  list-style: none;
}
